/**************************************************************
* Blog Page
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/
/*.content__session.blog_title>.content__session-title.content__session-title-big {
    margin: 0;
}*/

.blog__posts>article>h2 {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    line-height: 1.23;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
}

.blog__posts>article>p
{
    margin: 1rem;
}

.blog__posts>article>aside{
    margin: 0 1rem 1rem 1rem;
}

.blog__posts>article>aside>p {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
}