/**************************************************************
* @component Footer
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/
footer.footer{
    background-color: blue;
}