/**************************************************************
* Contact Form Component
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/
section.contactForm{
    background-color: var(--clr-primary);
    margin-top: 2rem;
}
.contactForm__box>h1{
    text-transform: uppercase;
    color: var(--clr-white);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 2rem;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.2em;
}

.contactForm>img{
    display: none;
}

.form__horizontal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form__horizontal > label, .form__horizontal > .btn{
    margin-top: 1rem;
}

.form__horizontal > label{
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}
.form__horizontal > label::after{
    content: ' :';
}

.form__horizontal > select, .form__horizontal > input, .form__horizontal > textarea{
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    border-radius: 1.5rem;
    padding: 0.5rem;
    border: none;
}

.form__horizontal > select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, var(--clr-white) 50%),
      linear-gradient(135deg, var(--clr-white) 50%, transparent 50%),
      linear-gradient(to right, var(--clr-secondary), var(--clr-secondary));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  