/**************************************************************
* Contact Form Component
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/
section.contactForm {
    background-color: var(--clr-primary);
    margin-top: 2rem;
}

.contactForm__box>h1 {
    text-transform: uppercase;
    color: var(--clr-white);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 2rem;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.2em;
}

.contactForm .content__session-col>img {
    display: none;
}

/**************************************************************
* Media-Query - Small: >=768px
**************************************************************/
@media only screen and (min-width: 768px) {
    .contactForm .content__session-col>img {
        display: block;
    }
}