/**************************************************************
* Future Skills Component
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/
.blog__posts-skills{
    max-width: 700px;
}
.skill__title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    line-height: 1.23;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.skill__line {
    display: grid;
    grid-template-columns: 4rem auto 4rem;
    margin-bottom: 1.5rem;
}

.skill__position {
    background-color: var(--clr-primary);
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.skill__position > span{
    display: inline-block;
    background-color: var(--clr-white);
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1.7rem;
    line-height: 3.3rem;
    text-align: center;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    margin-top: 0.3rem;
}

.skill__position.skill__position-yellow {
    background-color: var(--clr-secondary);
}

.skill__position.skill__position-green{
    background-color: var(--clr-primary);
    background: linear-gradient(180deg, var(--clr-primary) 10%, #69AF68 90%);
}

.skill__description>.skill__description-title {
    text-align: center;
    border-bottom: 0.5px solid var(--clr-light);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: 1rem;
    line-height: 2.22;
}

.skill__description>.skill__description-text {
    display: none;
}

/**************************************************************
* Media-Query - Small: >=768px
**************************************************************/
@media only screen and (min-width: 768px) {
    .skill__description>.skill__description-text {
        display: block;
        padding: 0 1rem 0 1rem;
        font-size: 0.8rem;
    }
    .skill__description > .skill__description-title{
        line-height: 1.50;
    }
}