/**************************************************************
* Loading Component
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
* @basedOn https://codepen.io/mattonit/pen/vLoddq
**************************************************************/
.loading{
    margin-top: 16px;
    width: 100%;
    text-align: center;
}
.loading__dot {
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    margin-right:3px;
    background:var(--clr-loading-dot);
    animation: kf__loading__wave 1.3s linear infinite;
}

.loading__dot:nth-child(2) {
    animation-delay: -1.1s;
}
.loading__dot:nth-child(3) {
    animation-delay: -0.9s;
}

.form__horizontal > .loading{
    margin-top: calc(1rem + 16px);

}


@keyframes kf__loading__wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}