/**************************************************************
* App main CSS (Theme)
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/

/**************************************************************
* Variables
**************************************************************/
:root {
  /* Colors */
  --clr-primary: #7568AF;
  --clr-secondary: #E2BE6E;

  --clr-light: #F3F3F3;
  --clr-medium: #525252;
  --clr-dark: #140F10;

  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-error-bg: salmon;
  --clr-error-f: var(--clr-white);

  --clr-loading-dot: var(--clr-medium);

  /* Font Family */
  --ff-primary: 'Ubuntu', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;

  /* Font Weight */
  --fw-normal: 300;
  --fw-bold: 700;

  /* Border Radius */
  --br-default: 13px;

  /* Font Size - for using REM units */
  --fs-base-size: 14px;
}

/**************************************************************
* Typography
**************************************************************/
html {
  font-size: var(--fs-base-size);
}

/**************************************************************
* Generic
**************************************************************/
body {
  margin: 0;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  font-size: 1rem;
  line-height: 1.6;
}

.content__session {
  padding: 1rem
}

.content__session-title {
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-secondary);
  font-size: 2rem;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.2em;
}

.content__division {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  line-height: 1.23;
  text-align: center;
  margin: 1rem 0;
}

.content__session-title-big {
  color: var(--clr-secondary);
  text-align: left;
  margin: 3rem 0 2rem 0; /*0 0 1.7rem 0;*/
  padding-left: 1rem;

  padding-left: 1rem;
  background-image: url('./assets/img/box__title_bg_bottom.png'), url('./assets/img/box__title_bg.png');
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-size: 0.6rem;
}

.hidden-mobile{
  display: none;
}

/**************************************************************
* Images
**************************************************************/
.border-img {
  border-radius: var(--br-default);
  width: 100%;
}

.border-img-round {
  border-radius: 50%;
  width: 100%;
}

/**************************************************************
* Header
**************************************************************/
header {
  border-bottom: 1px solid var(--clr-light);

}

.header__logo {
  display: inline-block;
}

.header__logo>img {
  max-width: 7rem;
}

.nav {
  display: none;
}

.nav-open {
  display: inherit;
}

.nav__list {
  border-top: 1px solid var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0 1rem;
}

.nav__link {
  display: inline-block;
  width: 100%;
}

.nav__link-active {
  color: var(--clr-primary);
}

.header__toggle {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/**************************************************************
* Footer
**************************************************************/
.footer_links {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 0.7rem;
}

.footer > .contactForm > .content__session{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/**************************************************************
* Box
**************************************************************/
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box__title {
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 1.22;
  margin: 1.7rem 0 1.7rem 0;
  padding-left: 1rem;
  background-image: url('./assets/img/box__title_bg_bottom.png'), url('./assets/img/box__title_bg.png');
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-size: 0.6rem;
}

.box__title-small {
  background: none;
  font-size: 1.5rem;
  padding-left: 0;
}

.box__text {
  margin: 0 0 1.7rem 0;
}

.box__text:last-child {
  margin-bottom: 0;
}

/**************************************************************
* Button
**************************************************************/
.btn {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  line-height: 1.5;
  border-radius: 1.5rem;
  padding: 0.2rem 1.5rem;
  color: var(--clr-white);
  text-align: center;
}

.btn-primary {
  background-color: var(--clr-primary);
}

.btn-secondary {
  background-color: var(--clr-secondary);
}

/**************************************************************
* Form
**************************************************************/
.form__horizontal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__horizontal>label,
.form__horizontal>.btn {
  margin-top: 1rem;
}

.form__horizontal>label {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
}

.form__horizontal>label::after {
  content: ' :';
}

.form__horizontal>select,
.form__horizontal>input,
.form__horizontal>textarea {
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  border-radius: 1.5rem;
  padding: 0.5rem;
  border: none;
}

.form__horizontal>select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
      linear-gradient(45deg, transparent 50%, var(--clr-white) 50%),
      linear-gradient(135deg, var(--clr-white) 50%, transparent 50%),
      linear-gradient(to right, var(--clr-secondary), var(--clr-secondary));
  background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
  background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
  background-repeat: no-repeat;
}

.form__horizontal.form__horizontal-inverse>label {
  color: var(--clr-black);
}

.form__horizontal>select,
.form__horizontal>input,
.form__horizontal>textarea {
  border: none;
}


/**************************************************************
* Error Feedback box
**************************************************************/
.error__feedback{
  padding: 1rem;
  background-color: salmon;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  border-radius: var(--br-default);
}

/**************************************************************
* Media-Query - Small: >=768px
**************************************************************/
@media only screen and (min-width: 768px) {

  /**************************************************************
  * Header
  **************************************************************/
  .header__toggle{
    display: none;
  }

  .nav {
    display: block;
  }

  .nav__list {
    border-top: none;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -37px;
  }

  .nav__list .nav__list-item{
    margin-left: 1rem;
  }

  .nav__link-active {
    color: initial;
    border-bottom: 3px solid var(--clr-primary);
  }

  /**************************************************************
  * GRID
  **************************************************************/
  .content__session-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  /**************************************************************
  * Generic
  **************************************************************/
  .hidden-mobile{
    display: initial;
  }

  /**************************************************************
  * Form 
  **************************************************************/
  .form__horizontal>label{
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 0;;
  }
}

/**************************************************************
* Media-Query - Medium: >=992px	
**************************************************************/
@media only screen and (min-width: 992px) {
  .content__session{
    width: 992px;
    margin: 0 auto;
  }
}

/**************************************************************
* Media-Query - Large: >=1200px
**************************************************************/
@media only screen and (min-width: 1200px) {}