/**************************************************************
* App main CSS (Theme)
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/

/**************************************************************
* Variables
**************************************************************/
:root {
  /* Colors */
  --clr-primary: #7568AF;
  --clr-secondary: #E2BE6E;

  --clr-light: #F3F3F3;
  --clr-medium: #525252;
  --clr-dark: #140F10;

  --clr-white: #ffffff;
  --clr-black: #000000;
  ;

  /* Font Family */
  --ff-primary: 'Ubuntu', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;

  /* Font Weight */
  --fw-normal: 300;
  --fw-bold: 700;

  /* Font Size - for using REM units */
  --fs-base-size: 14px;
}

/**************************************************************
* Typography
**************************************************************/
html {
  font-size: var(--fs-base-size);
}

/**************************************************************
* Generic
**************************************************************/
body {
  margin: 0;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  font-size: 1rem;
  line-height: 1.6;
}

.content__session {
  padding: 1rem
}

.content__session-title {
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.2em;
}

.content__division {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  line-height: 1.23;
  text-align: center;
  margin: 1rem 0;
}

/**************************************************************
* Images
**************************************************************/
.border-img {
  border-radius: 13px;
  width: 100%;
}

/**************************************************************
* Header
**************************************************************/
header {
  border-bottom: 1px solid var(--clr-light);

}

.header__logo {
  display: inline-block;
}

.header__logo>img {
  max-width: 7rem;
}

.nav {
  display: none;
}

.nav-open {
  display: inherit;
}

.nav__list {
  border-top: 1px solid var(--clr-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0 1rem;
}

.nav__link {
  display: inline-block;
  width: 100%;
}

.header__toggle {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/**************************************************************
* Footer
**************************************************************/
.footer_links{
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

/**************************************************************
* Header
**************************************************************/
.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box__title {
  color: var(--clr-dark);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 1.22;
  margin: 1.7rem 0 1.7rem 0;
  padding-left: 1rem;
  background: linear-gradient(90deg, var(--clr-primary) 0.6rem, transparent 0.6rem);
}

.box__text {
  margin: 0 0 1.7rem 0;
}

/**************************************************************
* Button
**************************************************************/
.btn {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  line-height: 1.5;
  border-radius: 1.5rem;
  padding: 0.2rem 1.5rem;
  color: var(--clr-white);
  text-align: center;
}

.btn-primary {
  background-color: var(--clr-primary);
}

.btn-secondary{
  background-color: var(--clr-secondary);
}

/**************************************************************
* Media-Query - Small: >=768px
**************************************************************/
@media only screen and (min-width: 768px) {
  header{
    background-color: red;
  }
}

/**************************************************************
* Media-Query - Medium: >=992px	
**************************************************************/
@media only screen and (min-width: 992px) {
  header{
    background-color: blue;
  }
}

/**************************************************************
* Media-Query - Large: >=1200px
**************************************************************/
@media only screen and (min-width: 1200px) {
  header{
    background-color: green;
  }
}