/**************************************************************
* App main CSS (Theme)
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/

/**************************************************************
* Variables
**************************************************************/
* {
  /*Colors*/
  --color-dominant: #7568AF;
  --color-dominant-dark: #514A72;
  --color-accent: #E2BE6E;
  --color-accent-dark: #E2BE6E;
  --color-neutral: #231f20;
  --color-gray: #F2F2F2;
  --color-black: #000000;
  --color-white: #ffffff;

  /*Typography*/
  --typo-base-size: 18px;
}

/**************************************************************
* Typography
**************************************************************/
html {
  /*for using REM units*/
  font-size: var(--typo-base-size);
}

body {
  font-family: 'Ubuntu';
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
  color: var(--typo-base-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

h1 {
  font-size: 2.0rem;
  color: var(--color-dominant);
}

h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-accent);
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

/**************************************************************
* Main Container
**************************************************************/
#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

/**************************************************************
* Support Classes
**************************************************************/
.default_space {
  padding: 0 1rem 2.8rem 1rem;
}

.default_space:first-child {
  padding-top: 0;
}

.round-img {
  border-radius: 50%;
  max-width: 20rem;
  margin-bottom: 1.5rem;
}

.box{
  margin-bottom: 2rem;
}

.box > h1{
  margin-bottom: 1.5rem;
}

/**************************************************************
* Header
**************************************************************/
header {
  background: var(--color-dominant);
  background: linear-gradient(90deg, var(--color-dominant) 0%, var(--color-dominant-dark) 100%);
  color: var(--color-white);
  margin-bottom: 2rem;
}

header>nav.header {
  padding: 0.7rem 0.7rem 0rem 0.7rem;
}

header>nav.header>a.header__logo,
header>nav.header>a.header__logo img,
header>nav.header>button.header__toggle {
  height: 3rem;
  display: inline-block;
  line-height: 1.5rem;
}

header>nav.header>button.header__toggle {
  float: right;
}

header>nav.header>button.header__toggle .hamburger {
  font-size: 2rem;
}

header>nav.header>ul.header__list {
  background: var(--color-dominant);
  background: linear-gradient(90deg, var(--color-dominant) 0%, var(--color-dominant-dark) 100%);
  display: block;
  position: fixed;
  top: 4.4rem;
  left: 100%;
  width: 100%;
  height: 100vh;
  padding-top: 1rem;

}

header>nav.header>ul.header__list.header__list__open {
  left: 0;
  animation-duration: 1s;
  animation-name: headerOpenMenu;
}

header>nav.header>ul.header__list.header__list__close {
  animation-duration: 1s;
  animation-name: headerCloseMenu;
}

header>nav.header>ul.header__list>.header__item {
  padding: 0 3rem;
  border-bottom: 1px solid var(--color-white);

}

header>nav.header>ul.header__list>.header__item:first-child {
  border-top: 1px solid var(--color-white);
}

header>nav.header>ul.header__list>.header__item>a {
  display: inline-block;
  width: 100%;
}

header>nav.header>ul.header__list>.header__item__close {
  position: absolute;
  top: 0;
  right: 0;
}

header>nav.header>ul.header__list>.header__item__close>button.header__item__close__button {
  width: 3rem;
  height: 3rem;
}

@keyframes headerOpenMenu {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes headerCloseMenu {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

/**************************************************************
* Footer
**************************************************************/
footer.footer {
  background-color: var(--color-gray);
  padding: 2.8rem 1rem 2.8rem 1rem;
  font-weight: 500;
}

footer.footer .footer__link {
  text-decoration: underline;
}

/**************************************************************
* Button
**************************************************************/
button[type="button"].primary {
  background-color: var(--color-accent);
  color: var(--color-dominant-dark);
  font-weight: 500;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

button[type="button"].primary:hover {
  background-color: var(--color-dominant);
  color: var(--color-white);
}

/**************************************************************
* Uppercase letter
**************************************************************/
.home__subHero {
  padding: 2.8rem 1rem 2.8rem 1rem;
}

.home__subHero::first-letter {
  background: var(--color-accent);
  color: var(--color-dominant);
  font-weight: 500;
  margin-right: -1rem;
  margin-left: -1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 50%;
  font-size: 5rem;
}