/**************************************************************
* App main CSS (Theme)
* @author Eduardo Pereira do Carmo
* @link https://github.com/eduardopcarmo
**************************************************************/

/**************************************************************
* Variables
**************************************************************/
* {
  /*Font size Base*/
  --font-base-size: 20px;
  
  /*Colors*/
  --font-base-color: #4e486c;
  --header-bg-color: purple;
  --header-font-color: #ffffff;
}

/**************************************************************
* Typography
**************************************************************/
html {
  /*for using REM units*/
  font-size: var(--font-base-size);
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--font-base-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.3rem;
  line-height: 1.5em;
}

h2 {
  font-size: 2.1rem;
  line-height: 1.5em;
}

/**************************************************************
* Main Container
**************************************************************/
#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

/**************************************************************
* Header
**************************************************************/
header {
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
}

header>nav.header {
  max-width: 1024px;
  margin: 0 auto;
}